/* General settings */

body {background-color: white}
text {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 10px;
      pointer-events:none;}


/* Circoscrizioni */

.subunit {fill: #f2f2f2;
          stroke: white;}

.subunit.mouseon {fill: blue;}

/* Stazioni */

.stazione {fill: orange;}
.stazione-label {fill: red;}

/* Tooltip stazioni */

.d3-tip{line-height: 1;
	    font-weight: bold;
	    padding: 12px;
	    background: rgba(255, 255, 255, 0.8);
        color: black;
	    border-radius: 2px;}

.d3-tip:after{box-sizing: border-box;
	          display: inline;
              font-size: 10px;
	          width: 100%;
	          line-height: 1;
	          color: rgba(255, 255, 255, 0.8);
	          content: "\25BC";
	          position: absolute;
	          text-align: center;}

.d3-tip.n:after {margin: -1px 0 0 0;
	             top: 100%;
	             left: 0;
                 font: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.tip-text {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
           font-size: 6px;}