<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/landingStyle.css" />
	<title>QuAR - Monitoraggio della qualità dell'aria a Roma</title>

</head>
<body>

    <div class='contenitore'>   
    </div>
    <p class='title'>
        QuAR
        <p class='subtitle'>
            <br> Monitoraggio della qualità
            <br> dell'aria a Roma
        </p>
    </p> 
    
    <div class='options'>
        <a class='title options' href='viz-mappa'>
            |viz mappa
        </a>
        
        <a class='title options right-opt' href='viz-tempo'>
            |viz nel tempo
        </a>
    </div>
    
    
    <div class='footer'>
        Powered by
        <img class='logo teamdigitale' src="team_digitale.png" alt="Logo Team Digitale">
        <img class='logo roma' src="Logo-Comune-di-Roma.png" alt="Logo Roma Capitale">   
    </div>
    
</body>
</html>